#logo-back {
  background-position: center;
  background-size: auto;
  background-size: cover;
  text-align: center;
  font-family: monospace;
  height: auto;
  width: auto;
  border: none;
  background-image: url("../img/landing.jpg");
}

.logoBig {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}

.container-fluid {
  margin: 0%;
  padding: 0;
  height: auto;
  outline: none;

}

.tinted-image-br {
  width: 300px;
  height: 200px;
  background-image: url("../img/breakfast.jpg");
  text-align: center;
  color: white;
  border: none;
  padding: 0;
  outline: none;

}
.tinted-image-lc {
  width: 300px;
  height: 200px;
  background-image: url("../img/lunch.jpg");
  text-align: center;
  color: white;
  border: none;
  padding: 0;
  outline: none;
}

.tinted-image-sp {
  width: 300px;
  height: 200px;
  background-image: url("../img/dinner.jpg");
  text-align: center;
  color: white;
  border: none;
  padding: 0;
  outline: none;
}
